[core]
    editor = vi

[commit]
    gpgSign = true

[push]
    gpgSign = true

[tag]
    forceSignAnnotated = true

[user]
    name = Walter Dolce
    email = !undefined!
    signingKey = !undefined!

